
<div class="col-md-3 col-sm-6">
    <a href="#">
        <img src="/media/{{instance.picture}}" class="img-responsive img-centered" alt="">
    </a>
</div>

{% comment %}
<div class="col-md-3 col-sm-6">
    <a href="#">
        <img src="{% static 'portfolio_landpage/img/logos/envato.jpg' %}" class="img-responsive img-centered" alt="">
    </a>
</div>
<div class="col-md-3 col-sm-6">
    <a href="#">
        <img src="{% static 'portfolio_landpage/img/logos/designmodo.jpg' %}" class="img-responsive img-centered" alt="">
    </a>
</div>
<div class="col-md-3 col-sm-6">
    <a href="#">
        <img src="{% static 'portfolio_landpage/img/logos/themeforest.jpg' %}" class="img-responsive img-centered" alt="">
    </a>
</div>
<div class="col-md-3 col-sm-6">
    <a href="#">
        <img src="{% static 'portfolio_landpage/img/logos/creative-market.jpg' %}" class="img-responsive img-centered" alt="">
    </a>
</div>
{% endcomment %}
