<div class="col-sm-4">
</div>
<div class="col-sm-4">
    <div class="team-member">
        {% if instance.picture %}        
        <img src="/media/{{instance.picture}}" class="img-responsive img-circle" alt="">
        {% endif %}
        <h4>{{instance.title}}</h4>
        <p class="text-muted">{{instance.category}}</p>
        {% comment %}
        <ul class="list-inline social-buttons">
            <li><a href="{{instance.twitter}}"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="{{instance.facebook}}"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="{{instance.linkedin}}"><i class="fa fa-linkedin"></i></a>
            </li>
        </ul>
        {% endcomment %}
    </div>
</div>



{% comment %}
<div class="col-sm-4">
    <div class="team-member">
        <img src="{% static 'portfolio_landpage/img/team/1.jpg' %}" class="img-responsive img-circle" alt="">
        <h4>Kay Garland</h4>
        <p class="text-muted">Lead Designer</p>
        <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
        </ul>
    </div>
</div>
<div class="col-sm-4">
    <div class="team-member">
        <img src="{% static 'portfolio_landpage/img/team/2.jpg' %}" class="img-responsive img-circle" alt="">
        <h4>Larry Parker</h4>
        <p class="text-muted">Lead Marketer</p>
        <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
        </ul>
    </div>
</div>
<div class="col-sm-4">
    <div class="team-member">
        <img src="{% static 'portfolio_landpage/img/team/3.jpg' %}" class="img-responsive img-circle" alt="">
        <h4>Diana Pertersen</h4>
        <p class="text-muted">Lead Developer</p>
        <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
        </ul>
    </div>
</div>
{% endcomment %}

