{% extends 'portfolio_landpage/portfolio_base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load cms_tags menu_tags sekizai_tags %}


{% block container %}
    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% placeholder "services-header" %}</h2>
                    <h3 class="section-subheading text-muted">{% placeholder "services-subheader" %}</h3>
                </div>
            </div>
            <div class="row text-center">
                {% placeholder "services-data" %}
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% placeholder "portfolio-header" %}</h2>
                    <h3 class="section-subheading text-muted">{% placeholder "portfolio-subheader" %}</h3>
                </div>
            </div>
            <div class="row">
                {% placeholder "portfolio-data" %}
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% placeholder "about-header" %}</h2>
                    <h3 class="section-subheading text-muted">{% placeholder "about-subheader" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% placeholder "about-data" %}
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% placeholder "team-header" %}</h2>
                    <h3 class="section-subheading text-muted">{% placeholder "team-subheader" %}</h3>
                </div>
            </div>
            <div class="row">
                {% placeholder "team-data" %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">{% placeholder "team-bottom" %}</p>
                    {%comment%}
                    <br>
                    <br>
                    <p class="large text-muted">{% placeholder "team-social" %}</p>
                    <ul class="list-inline social-buttons">
                        <li><a href='{% placeholder "team-vk-url" %}'><i class="fa fa-vk"></i></a></li>
                    </ul>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                {% placeholder "clients-data" %}
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% placeholder "contact-header-other" %}</h2>
                    <h3 class="section-subheading text-muted">{% placeholder "contact-subheader" %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="section-heading">{% placeholder "phones-header" %}</h4>
                            <span class="section-heading" style="font-size: 18px;"><i class="fa fa-phone"></i> {% placeholder "phone-1" %}</span>
                            {% comment %}
                            <br>
                            <span class="section-heading" style="font-size: 18px;"><i class="fa fa-phone"></i> {% placeholder "phone-2" %}</span>
                            <br>
                            <br>
                            {% endcomment %}
                            <br>
                            <h4 class="section-heading">{% placeholder "emails-header" %}</h4>
                            <span class="section-heading" style="font-size: 16px;"><i class="fa fa-envelope-o"></i> {% placeholder "email-1" %}</span>
                            {% comment %}
                            <br>
                            <span class="section-heading" style="font-size: 16px;"><i class="fa fa-envelope-o"></i> {% placeholder "email-2" %}</span>
                            <br>
                            <br>
                            {% endcomment %}
                        </div>
                        <div class="col-md-6">
                            {% placeholder "feedback-form-data" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

