{% load i18n %}
{% load staticfiles %}
{% load cms_tags menu_tags sekizai_tags %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{current_site.name}}">
    <meta name="description" content="{% page_attribute meta_description %}"/>
    <meta name="keywords" content="{% page_attribute meta_keywords %}"/>

    <title>{% block title %}{% page_attribute 'title' %}{% endblock title %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'portfolio_landpage/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'portfolio_landpage/css/portfolio.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'portfolio_landpage/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% render_block "css" %}

</head>

<body id="page-top" class="index">
    {% cms_toolbar %}   
    
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{current_site.name}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                   {% block menu-links %}
                    <li>
                        <a class="page-scroll" href="#services">{% placeholder "services-header" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">{% placeholder "portfolio-header" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">{% placeholder "about-header" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">{% placeholder "team-header" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">{% placeholder "contact-header" %}</a>
                    </li>
                    {% endblock %}
                    
                    {% show_menu 0 100 100 100 %}
                    
                    {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'admin:logout' %}?next=/"><i class="fa fa-toggle-off"></i></a>
                    </li>
                    {% else %}
                    <li>
                        <a href="?edit"><i class="fa fa-toggle-on"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {% block header %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">{% placeholder "intro-lead-in" %}</div>
                <div class="intro-heading">{% placeholder "intro-heading" %}</div>
                <a href="#contact" class="page-scroll btn btn-xl"><i class="fa fa-hand-o-up"></i> {% placeholder "intro-button" %}</a>
            </div>
        </div>
    </header>
    {% endblock %}

    {% block container %}{% endblock %}

    {% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{current_site.name}} {% now "Y" %}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% comment %}
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        {% endcomment %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        {% comment %}
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                        {% endcomment %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

    {% render_block "js" %}

    <!-- jQuery -->
    <script src="{% static 'portfolio_landpage/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'portfolio_landpage/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'portfolio_landpage/js/classie.js' %}"></script>
    <script src="{% static 'portfolio_landpage/js/cbpAnimatedHeader.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'portfolio_landpage/js/jqBootstrapValidation.js' %}"></script>
    {# <script src="{% static 'portfolio_landpage/js/contact_me.js' %}"></script> #}

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'portfolio_landpage/js/portfolio.js' %}"></script>


</body>

</html>
