{% extends 'portfolio_landpage/portfolio_base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load cms_tags menu_tags sekizai_tags %}

{% block menu-links %}
    <li>
        <a class="page-scroll" href="/">{% trans 'На сайт' %}</a>
    </li>
{% endblock %}

{% block header %}
    <!-- Header -->
    <header>
        <div class="container" style="height: 100px;">
            <div class="intro-text">
            </div>
        </div>
    </header>
{% endblock %}

{% block container %}
    <section id="services" style="padding: 150px;">
        {% placeholder "notes" %}
    </section>
{% endblock %}

{% block footer %}
{% endblock %}
