{% load i18n %}

<form name="sentMessage" id="contactForm" method="post" action="{% url 'feedback:feedback' instance.pk %}">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {{feedback_form.name}}
            </div>
            <div class="form-group">
                {{feedback_form.phone}}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12">
       
            <div id="success"></div>
            <button type="submit" class="btn btn-xl"><i class="fa fa-tty"></i> {% trans 'Связаться со мной' %}</button>
        </div>
    </div>
</form>
